<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4 border">
         <div class="inner-div">
        
        <h5><a href="/home"><i class="fa fa-angle-double-right"></i> Home</a></h5>
        <ul class=" list-unstyled list-inline social text-center element">
        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-square"></i></a></li>
      </ul>
    </div>
      </div>


      <div class="col-xs-12 col-sm-4 col-md-4 border">
        <div class="inner-div">
        <h5><a href="#"><i class="fa fa-angle-double-right"></i> About</a></h5>
        <ul class=" list-unstyled list-inline social text-center element"> 
        <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
       </ul>
      </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 border">
        <div class="inner-div">
        <h5><a href="/contact"><i class="fa fa-angle-double-right"></i> Contact Us</a></h5>
        <ul class="list-unstyled list-inline social text-center element">
            <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
          </ul>
    </div>
  </div>
    </div>
    <p class="text-center" style="display: block;">Mobile Wave &copy All right Reserved. Developed by <a href="https://www.facebook.com/S.osama.hussain">Syed Osama Hussain</a></p>
	</div>
</section>

<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>

</html>