<% include partials/header %>


<div id="contact-container" class="container">
<h1 style="text-align:center;">Get In Touch</h1>
<div class="row">
  <div style="text-align:center;" class="col-md-4 col-sm-6">
    <h1><i class="fas fa-map-marker-alt contact-icon"></i></h1> 
    <h1>Address</h1>
    <h3>Mobile Wave</h3>
    <h4>shop 241/120/41</h4>
    <h4>Sarena Mobile Market</h4>
    <h4>Bufferzone, Karachi</h4>
  </div>

  <div style="text-align:center;" class="col-md-4 col-sm-6">
    <h1><i class="fas fa-phone contact-icon"></i></h1>  
    <h1>Phone</h1>
    <h3>Mobile Wave</h3>
    <h4>03325265676</h4>
   </div>


   <div style="text-align:center;" class="col-md-4 col-sm-6">
    <h1><i class="far fa-comment-alt contact-icon"></i></h1>  
    <h1>Email</h1>
    <h3>Send us your feedback</h3>
    <h4>immad221@gmail.com</h4>
   </div>

</div>


</div>


<% include partials/footer %>