<% include partials/header %>

<style type="text/css">
  @import url("/stylesheets/main.css");
</style>

<div id="landing-header">
  <h1>Welcome to Mobile Wave!</h1>
    <hr class="hr">
   <a href="/home" class="btn btn-lg btn-success"><i class="fas fa-mobile-alt"></i> View All Categories</a>
   </div>
   
   <ul class="slideshow">
     <li></li>
     <li></li>
     <li></li>
     <li></li>
     <li></li>
   </ul>

   <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </body>
  
  </html>